/* General Styling */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

body {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
}

html {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 5rem 10rem;
    background-color: #f2f2f2;
    background-image: url("");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 50vh;
}

a { outline: none; color: inherit; text-decoration: none;}

button {
    outline: none;
    background-color: #f2f2f2;
    border: none;
    padding: .5rem 1rem;
}

button:hover {
    cursor: pointer;
}

button:active {
    opacity: .8;
}

/* Cart */
.cart {
    margin-bottom: 4rem;
    background-color: #ffffff;
    padding: 1rem;
    border: 1px dashed transparent;
}

/* Grid Container */
.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    grid-auto-rows: auto;
    gap: 1rem;
    margin-top: 4rem;
}

.grid-item {
    background-color: #ffffff;
    height: calc(100% - 2rem);
    padding: 1rem;
    border: 1px dashed transparent;
}

.grid-item button {
    margin-right: 1rem;
}

.grid-item:hover {
    outline: 2px dashed slategray;
}

.grid-image {
    height: auto;
    max-height: 10rem;
    object-fit: cover;
    width: 100%;
}

footer {
    margin-top: 2rem;
}

footer a {
    color: slategray;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    html {
        padding: 16px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}